# Classes

In this notebook, we look at classes, objects, attributes, and constructors

Let's say we want to create a system where we store the name, grade, and colby id of all students in the class. We can create variables for each of the students as follows

In [ ]:

kevin_first_name = "Kevin"
kevin_last_name = "Smith"
kevin_colby_id = 12345
kevin_grade = "A"




lex_first_name = "Lex"
lex_last_name = "Smith"
lex_colby_id = "54321"
lex_grade = "B+"

But note that now I have to create 4 variables for each students. So if I want to create this data for all 15 students in the class, then I will have to have 60 variables! What if I also want to save the number of courses they have taken and the grades they obtained (i.e., save the course number as a key and their grades as value in a dictionary). Now that is 75 variables. Now think about saving this information for all students in the CS 15x course. How many variables will that be? Also, what if there are two Kevin's or two Patricks!. 

You can see that this is getting complex.

In [36]:
first_name = "Kevin"
last_name = "Smith"
colby_id = 123456
cs154_grade = "A"
st140_grade = "A-"
st_134_grade = "B+"

# We can also think about saving this information in a dictionary but I will have to
# type the key and value for each student multiple times!

kevin_details = {
    "first_name": "Kevin",
    "last_name": "Smith",
    "grade": "A",
    "colby_id": 12345
}

kevin_details["first_name"]

'Kevin'

What if I create a template/form/mold that allows me to specify the "variables" I want in something and I only provide values.

In [ ]:
class Student:
    # Student is a class

    # The following are called attributes

    first_name: str
    last_name: str
    grades: list[float]
    colby_id: int

    # This function called init is called a constructor which helps you assign the values to the attributes
    def __init__(self, f_name:str, l_name: str, grade: list[float], colby_id: int):
        # The self keyword is used to access the attributes of the class
        self.first_name = f_name
        self.last_name = l_name
        self.grade = grade
        self.colby_id = colby_id

# Here kevin is an object that we create using the Student class. 
kevin = Student("Kevin", "Doe", [100, 90, 85, 100], 12345)

'A'

In [37]:
# This is how you can access the attributes
kevin.colby_id
kevin.first_name

'Kevin'

In [38]:
# Creating a list of Student objects
list_of_students: list[Student] = [kevin, patrick, muneeb]

In [29]:
type(list_of_students[0])

__main__.Student

In [40]:
# Getting the firs_name attribute of the first Student object in the list
list_of_students[0].first_name

'Kevin'

In [32]:
muneeb = Student("Muneeb", "Lee", [45, 55, 65, 75, 100], 54321)
muneeb.calculate_grade()

68.0

In [14]:
muneeb.colby_id

54321

In [ ]:
patrick = Student("Patrick", "Jones", "C-", 10000)

In [ ]:
class Dog:

    name: str
    breed: str
    owner: str
    age: int
    color: str
    weight: float
    height: float
    length: float
    tail_length: float
    eye_color: str
    favorite_toy: str
    good_person: bool

    def __init__(self,
                 name: str,
                 breed: str,
                     owner: str,
                     age: int,
                     color: str,
                     weight: float,
                     height: float,
                     length: float,
                     tail_length: float,
                     eye_color: str,
                     favorite_toy: str,
                     good_person: bool,
                    ):
    def sit()
        
    def bark()
        
    def eat_my_homework()

In [ ]:
class MovieReview:


    sentiment: str
    length: int
    text: str


    def preprocess_review(self)
        
    def get_tf_idf(self)
        

review = MovieReview("")

review.preprocess_review()

In [21]:
class Car:

    brand: str
    make: str
    color: str
    year: int
    weight: float
    number_of_doors: int
    mileage: float

    def __init__(self, brand: str, make: str, color: str, year: int, weight: float, number_of_doors: int, mileage: float):
        self.brand = brand
        self.make = make
        self.color = color
        self.year = year
        self.number_of_doors = number_of_doors
        self.weight = weight
        self.mileage = mileage

In [ ]:
some_str: str
some_int: int

In [25]:
my_car: Car = Car("Toyota", "Corolla",  "red", 2018, 1000, 4, 30)

another_car: Car = Car("BMW", "M5", "Gray", 2019, 500, 2, 2)

another_car.mileage

2

In [ ]:
class Student:

    first_name: str
    last_name: str
    grades: list[float]
    colby_id: int

    def __init__(self, f_name:str, l_name: str, grade: list[float], colby_id: int):
        self.first_name = f_name
        self.last_name = l_name
        self.grade = grade
        self.colby_id = colby_id

    def calculate_grade(self) -> float:
        total_grade = 0
        for each_grade in self.grade:
            total_grade += each_grade
        
        final_grade = total_grade / len(self.grade)

        if final_grade >= 90:
            return "A"
        elif final_grade < 90 and final_grade >= 80:
            return "B"




kevin = Student("Kevin", "Doe", [100, 90, 85, 100], 12345)
kevin.calculate_grade()